.icon img {
    width: 120px;
    text-align: center;
}

.icon{
    text-align: center;
}

.cityName, .tempText {
    text-align: center;
    font-size: 35px;
}

.temp{
    font-size: 50px;
    text-align: center;
}